In [1]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
# school_data.head()

In [4]:
student_data_df = pd.read_csv(student_data_to_load)
# student_data.head()

In [5]:
# Combine the data into a single dataset (provided in starter file).  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
#school_data_complete_df

In [6]:
# Rename columns of combined df
school_data_complete_df = school_data_complete_df.rename(columns={"Student ID" : "Student ID",
                                                          "student_name" : "Student Name",
                                                          "gender" : "Student Gender",
                                                          "grade" : "Student Grade",
                                                          "school_name" : "School Name",
                                                          "reading_score" : "Student Reading Score",
                                                          "math_score" : "Student Math Score",
                                                          "School ID" : "School ID",
                                                          "type" : "School Type",
                                                          "size" : "School Size",
                                                          "budget" : "School Budget"})
#school_data_complete_df

In [7]:
# Rearrange columns
school_data_complete_df = school_data_complete_df[["Student ID", 
                                                   "Student Name", 
                                                   "Student Gender", 
                                                   "Student Grade", 
                                                   "Student Reading Score", 
                                                   "Student Math Score", 
                                                   "School Name", 
                                                   "School ID", 
                                                   "School Type", 
                                                   "School Size", 
                                                   "School Budget"]]
#school_data_complete_df

## District Summary

In [8]:
# Calculate the total number of schools
schoolcount = school_data_complete_df["School Name"].nunique()
# schoolcount

In [9]:
# Calculate the total number of students
studentcount = school_data_complete_df["Student ID"].count()
# studentcount

In [10]:
# Calculate the total budget (make sure to get unique because the budget repeats itself per student in same school)

totalbudget = school_data_complete_df["School Budget"].unique()
# totalbudget.sum()

In [11]:
# Calculate the average math score
mathaverage = school_data_complete_df["Student Math Score"].mean()
# mathaverage

In [12]:
# Calculate the average reading score
readaverage = school_data_complete_df["Student Reading Score"].mean()
# readaverage

In [13]:
# Calculate percent of students with a math score of 70 or greater 
# https://stackoverflow.com/questions/52097943/count-and-calculate-percentage-of-each-column-by-threshold-in-python
mathpass = school_data_complete_df["Student Math Score"].ge(70).mean()*100
#mathpass

In [14]:
# Calculate percent of students with a reading score of 70 or greater
readpass = school_data_complete_df["Student Reading Score"].ge(70).mean()*100
# readpass

In [15]:
# Calculate percent of students who passed both reading and math
mathreadpass_df = school_data_complete_df[(school_data_complete_df['Student Math Score'] >= 70) & (school_data_complete_df['Student Reading Score'] >= 70)]

mathreadpass = (mathreadpass_df["Student ID"].count()/studentcount) * 100
# mathreadpass

In [16]:
# Create summary of district data
district_summary_df = pd.DataFrame({"Total Schools" : [schoolcount],
                                   "Total Students" : studentcount,
                                   "Total Budget" : totalbudget.sum(),
                                   "Average Math Score" : mathaverage,
                                  "Average Reading Score" : readaverage,
                                   "% Passing Math" : mathpass,
                                   "% Passing Reading" : readpass,
                                    "% Overall Passing" : mathreadpass})
# district_summary_df

In [17]:
# Summary table formatting using map
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [18]:
# Add Per Student Budget to the complete data table
perstudentbudget = school_data_complete_df["School Budget"] / school_data_complete_df["School Size"]

school_data_complete_df["Per Student Budget"] = perstudentbudget
#school_data_complete_df.dtypes

In [19]:
# Add Students passing math and reading. I could not get this to work as with the district data...something to do with grouping?

school_data_complete_df["% Passing Math"] = school_data_complete_df["Student Math Score"] >= 70
school_data_complete_df["% Passing Reading"] = school_data_complete_df["Student Reading Score"] >= 70
school_data_complete_df["% Overall Passing"] = school_data_complete_df["% Passing Math"] & school_data_complete_df["% Passing Reading"]

In [20]:
# Modify dataframe to use just the columns wanted
school_data_complete2_df = school_data_complete_df.loc[:, ["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           "% Overall Passing"
                                                          ]]
# school_data_complete2_df

In [21]:
# Group the data by School Name
grouped_school_data_df = school_data_complete2_df.groupby(["School Name"])
#grouped_school_data_df.mean()

In [22]:
# Find the school types per school
schooltype_s = grouped_school_data_df["School Type"].unique()

# To extract the string from the list
schooltype_s = schooltype_s.str[0]

In [23]:
# Find the total number of students per school
studentcount_s = grouped_school_data_df["Student ID"].count()
# studentcount_s

In [24]:
# Calculate the total budget per school (make sure to get unique because the budget repeats itself per student in same school)
totalbudget_s = grouped_school_data_df["School Budget"].unique()
#totalbudget_s

In [25]:
# Calculate the total budget per school
perstudentbudget_s = grouped_school_data_df["Per Student Budget"].unique()
#perstudentbudget_s

# To extract the string from the list
perstudentbudget_s = perstudentbudget_s.str[0]

In [26]:
# Calculate the average math score per school
mathaverage_s = grouped_school_data_df["Student Math Score"].mean()
#mathaverage_s

In [27]:
# Calculate the average reading score per school
readaverage_s = grouped_school_data_df["Student Reading Score"].mean()
#readaverage_s

In [28]:
mathpass_s = grouped_school_data_df["% Passing Math"].mean()*100

In [29]:
readpass_s = grouped_school_data_df["% Passing Reading"].mean() *100

In [30]:
mathreadpass_s = grouped_school_data_df["% Overall Passing"].mean() *100

In [46]:
# Create dataframe of school data
school_data_summary_df = pd.DataFrame({"School Type" : schooltype_s,
                                       "Total Students" : studentcount_s,
                                       "Total Budget" : totalbudget_s,
                                       "Per Student Budget" : perstudentbudget_s,
                                       "Average Math Score" : mathaverage_s,
                                       "Average Reading Score" : readaverage_s,
                                       "% Passing Math" : mathpass_s, 
                                       "% Passing Reading" : readpass_s,
                                      "% Overall Passing" : mathreadpass_s
                                           })
#school_data_summary_df.dtypes

In [53]:
# Change the data types
school_data_summary_df["Total Budget"] = school_data_summary_df["Total Budget"].astype(float)
school_data_summary_df["Per Student Budget"] = school_data_summary_df["Per Student Budget"].astype(float)
school_data_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [54]:
# Create new dataframe for summary formatting. Did this to retain school_data_summary for further analysis
# Create dataframe of school data summary
school_data_summary_format_df = pd.DataFrame({"School Type" : schooltype_s,
                                       "Total Students" : studentcount_s,
                                       "Total Budget" : totalbudget_s,
                                       "Per Student Budget" : perstudentbudget_s,
                                       "Average Math Score" : mathaverage_s,
                                       "Average Reading Score" : readaverage_s,
                                       "% Passing Math" : mathpass_s, 
                                       "% Passing Reading" : readpass_s,
                                      "% Overall Passing" : mathreadpass_s
                                           })

school_data_summary_format_df["Total Budget"] = school_data_summary_format_df["Total Budget"].astype(float)
school_data_summary_format_df["Per Student Budget"] = school_data_summary_format_df["Per Student Budget"].astype(float)


school_data_summary_format_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [55]:
# Summary table formatting using map
school_data_summary_format_df["Total Students"] = school_data_summary_format_df["Total Students"].map("{:,}".format)
school_data_summary_format_df["Total Budget"] = school_data_summary_format_df["Total Budget"].map("${:,.0f}".format)
school_data_summary_format_df["Per Student Budget"] = school_data_summary_format_df["Per Student Budget"].map("${:.0f}".format)
school_data_summary_format_df["Average Math Score"] = school_data_summary_format_df["Average Math Score"].map("{:.2f}".format)
school_data_summary_format_df["Average Reading Score"] = school_data_summary_format_df["Average Reading Score"].map("{:.2f}".format)
school_data_summary_format_df["% Passing Math"] = school_data_summary_format_df["% Passing Math"].map("{:.2f}%".format)
school_data_summary_format_df["% Passing Reading"] = school_data_summary_format_df["% Passing Reading"].map("{:.2f}%".format)
school_data_summary_format_df["% Overall Passing"] = school_data_summary_format_df["% Overall Passing"].map("{:.2f}%".format)

school_data_summary_format_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [69]:
# Sort grouped school_data_summary_df (unmapped df) by % Overall Passing

school_data_summary_sort1_df=school_data_summary_df.sort_values("% Overall Passing", ascending=False)

In [70]:
# Summary table formatting using map
school_data_summary_sort1_df["Total Students"] = school_data_summary_sort1_df["Total Students"].map("{:,}".format)
school_data_summary_sort1_df["Total Budget"] = school_data_summary_sort1_df["Total Budget"].map("${:,.0f}".format)
school_data_summary_sort1_df["Per Student Budget"] = school_data_summary_sort1_df["Per Student Budget"].map("${:.0f}".format)
school_data_summary_sort1_df["Average Math Score"] = school_data_summary_sort1_df["Average Math Score"].map("{:.2f}".format)
school_data_summary_sort1_df["Average Reading Score"] = school_data_summary_sort1_df["Average Reading Score"].map("{:.2f}".format)
school_data_summary_sort1_df["% Passing Math"] = school_data_summary_sort1_df["% Passing Math"].map("{:.2f}%".format)
school_data_summary_sort1_df["% Passing Reading"] = school_data_summary_sort1_df["% Passing Reading"].map("{:.2f}%".format)
school_data_summary_sort1_df["% Overall Passing"] = school_data_summary_sort1_df["% Overall Passing"].map("{:.2f}%".format)

school_data_summary_sort1_df.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [71]:
# Sort grouped school_data_summary_df (unmapped df) by % Overall Passing

school_data_summary_sort2_df=school_data_summary_df.sort_values("% Overall Passing", ascending=True)

In [72]:
# Summary table formatting using map
school_data_summary_sort2_df["Total Students"] = school_data_summary_sort2_df["Total Students"].map("{:,}".format)
school_data_summary_sort2_df["Total Budget"] = school_data_summary_sort2_df["Total Budget"].map("${:,.0f}".format)
school_data_summary_sort2_df["Per Student Budget"] = school_data_summary_sort2_df["Per Student Budget"].map("${:.0f}".format)
school_data_summary_sort2_df["Average Math Score"] = school_data_summary_sort2_df["Average Math Score"].map("{:.2f}".format)
school_data_summary_sort2_df["Average Reading Score"] = school_data_summary_sort2_df["Average Reading Score"].map("{:.2f}".format)
school_data_summary_sort2_df["% Passing Math"] = school_data_summary_sort2_df["% Passing Math"].map("{:.2f}%".format)
school_data_summary_sort2_df["% Passing Reading"] = school_data_summary_sort2_df["% Passing Reading"].map("{:.2f}%".format)
school_data_summary_sort2_df["% Overall Passing"] = school_data_summary_sort2_df["% Overall Passing"].map("{:.2f}%".format)

school_data_summary_sort2_df.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type