In [1]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
# school_data.head()

In [4]:
student_data_df = pd.read_csv(student_data_to_load)
# student_data.head()

In [5]:
# Combine the data into a single dataset (provided in starter file).  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
#school_data_complete_df

In [8]:
# Rename columns of combined df
school_data_complete_df = school_data_complete_df.rename(columns={"Student ID" : "Student ID",
                                                          "student_name" : "Student Name",
                                                          "gender" : "Student Gender",
                                                          "grade" : "Student Grade",
                                                          "school_name" : "School Name",
                                                          "reading_score" : "Student Reading Score",
                                                          "math_score" : "Student Math Score",
                                                          "School ID" : "School ID",
                                                          "type" : "School Type",
                                                          "size" : "School Size",
                                                          "budget" : "School Budget"})
# school_data_complete_df

In [9]:
# Rearrange columns
school_data_complete_df = school_data_complete_df[["Student ID", 
                                                   "Student Name", 
                                                   "Student Gender", 
                                                   "Student Grade", 
                                                   "Student Reading Score", 
                                                   "Student Math Score", 
                                                   "School Name", 
                                                   "School ID", 
                                                   "School Type", 
                                                   "School Size", 
                                                   "School Budget"]]
#school_data_complete_df

## District Summary

In [10]:
# Calculate the total number of schools
schoolcount = school_data_complete_df["School Name"].nunique()
# schoolcount

In [11]:
# Calculate the total number of students
studentcount = school_data_complete_df["Student ID"].count()
# studentcount

In [12]:
# Calculate the total budget (make sure to get unique because the budget repeats itself per student in same school)
totalbudget = school_data_complete_df["School Budget"].unique()
# totalbudget.sum()

In [13]:
# Calculate the average math score
mathaverage = school_data_complete_df["Student Math Score"].mean()
# mathaverage

In [14]:
# Calculate the average reading score
readaverage = school_data_complete_df["Student Reading Score"].mean()
# readaverage

In [15]:
# Calculate percent of students with a math score of 70 or greater 
# https://stackoverflow.com/questions/52097943/count-and-calculate-percentage-of-each-column-by-threshold-in-python
mathpass = school_data_complete_df["Student Math Score"].ge(70).mean()*100
#mathpass

In [16]:
# Calculate percent of students with a reading score of 70 or greater
readpass = school_data_complete_df["Student Reading Score"].ge(70).mean()*100
# readpass

In [17]:
# Calculate percent of students who passed both reading and math
mathreadpass_df = school_data_complete_df[(school_data_complete_df['Student Math Score'] >= 70) & (school_data_complete_df['Student Reading Score'] >= 70)]
mathreadpass = (mathreadpass_df["Student ID"].count()/studentcount) * 100
# mathreadpass

In [18]:
# Create summary of district data
district_summary_df = pd.DataFrame({"Total Schools" : [schoolcount],
                                   "Total Students" : studentcount,
                                   "Total Budget" : totalbudget.sum(),
                                   "Average Math Score" : mathaverage,
                                  "Average Reading Score" : readaverage,
                                   "% Passing Math" : mathpass,
                                   "% Passing Reading" : readpass,
                                    "% Overall Passing" : mathreadpass})
# district_summary_df

In [19]:
# Summary table formatting using map
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [20]:
# Add Per Student Budget to the complete data table
perstudentbudget = school_data_complete_df["School Budget"] / school_data_complete_df["School Size"]

school_data_complete_df["Per Student Budget"] = perstudentbudget
#school_data_complete_df.dtypes

In [21]:
# Add Students passing math and reading. I could not get this to work as with the district data...something to do with grouping?
school_data_complete_df["% Passing Math"] = school_data_complete_df["Student Math Score"] >= 70
school_data_complete_df["% Passing Reading"] = school_data_complete_df["Student Reading Score"] >= 70
school_data_complete_df["% Overall Passing"] = school_data_complete_df["% Passing Math"] & school_data_complete_df["% Passing Reading"]

In [22]:
# Modify dataframe to use just the columns wanted
school_data_complete2_df = school_data_complete_df.loc[:, ["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           "% Overall Passing"
                                                          ]]
# school_data_complete2_df

In [23]:
# Group the data by School Name
grouped_school_data_df = school_data_complete2_df.groupby(["School Name"])
#grouped_school_data_df.mean()

In [24]:
# Find the school types per school
schooltype_s = grouped_school_data_df["School Type"].unique()

# To extract the string from the list
schooltype_s = schooltype_s.str[0]

In [25]:
# Find the total number of students per school
studentcount_s = grouped_school_data_df["Student ID"].count()
# studentcount_s

In [26]:
# Calculate the total budget per school (make sure to get unique because the budget repeats itself per student in same school)
totalbudget_s = grouped_school_data_df["School Budget"].unique()
#totalbudget_s

In [27]:
# Calculate the total budget per school
perstudentbudget_s = grouped_school_data_df["Per Student Budget"].unique()
#perstudentbudget_s

# To extract the string from the list
perstudentbudget_s = perstudentbudget_s.str[0]

In [28]:
# Calculate the average math score per school
mathaverage_s = grouped_school_data_df["Student Math Score"].mean()
#mathaverage_s

In [29]:
# Calculate the average reading score per school
readaverage_s = grouped_school_data_df["Student Reading Score"].mean()
#readaverage_s

In [30]:
# Calculate percent passing
mathpass_s = grouped_school_data_df["% Passing Math"].mean()*100
readpass_s = grouped_school_data_df["% Passing Reading"].mean() *100
mathreadpass_s = grouped_school_data_df["% Overall Passing"].mean() *100

In [31]:
# Create dataframe of school data
school_data_summary_df = pd.DataFrame({"School Type" : schooltype_s,
                                       "Total Students" : studentcount_s,
                                       "Total Budget" : totalbudget_s,
                                       "Per Student Budget" : perstudentbudget_s,
                                       "Average Math Score" : mathaverage_s,
                                       "Average Reading Score" : readaverage_s,
                                       "% Passing Math" : mathpass_s, 
                                       "% Passing Reading" : readpass_s,
                                      "% Overall Passing" : mathreadpass_s
                                           })
#school_data_summary_df.dtypes

In [32]:
# Change the data types
school_data_summary_df["Total Budget"] = school_data_summary_df["Total Budget"].astype(float)
school_data_summary_df["Per Student Budget"] = school_data_summary_df["Per Student Budget"].astype(float)
#school_data_summary_df

In [33]:
# Create new dataframe for summary formatting. Did this to retain school_data_summary for further analysis
# Create dataframe of school data summary
school_data_summary_format_df = pd.DataFrame({"School Type" : schooltype_s,
                                       "Total Students" : studentcount_s,
                                       "Total Budget" : totalbudget_s,
                                       "Per Student Budget" : perstudentbudget_s,
                                       "Average Math Score" : mathaverage_s,
                                       "Average Reading Score" : readaverage_s,
                                       "% Passing Math" : mathpass_s, 
                                       "% Passing Reading" : readpass_s,
                                      "% Overall Passing" : mathreadpass_s
                                           })

school_data_summary_format_df["Total Budget"] = school_data_summary_format_df["Total Budget"].astype(float)
school_data_summary_format_df["Per Student Budget"] = school_data_summary_format_df["Per Student Budget"].astype(float)
# school_data_summary_format_df

In [34]:
# Summary table formatting using map
school_data_summary_format_df["Total Students"] = school_data_summary_format_df["Total Students"].map("{:,}".format)
school_data_summary_format_df["Total Budget"] = school_data_summary_format_df["Total Budget"].map("${:,.0f}".format)
school_data_summary_format_df["Per Student Budget"] = school_data_summary_format_df["Per Student Budget"].map("${:.0f}".format)
school_data_summary_format_df["Average Math Score"] = school_data_summary_format_df["Average Math Score"].map("{:.2f}".format)
school_data_summary_format_df["Average Reading Score"] = school_data_summary_format_df["Average Reading Score"].map("{:.2f}".format)
school_data_summary_format_df["% Passing Math"] = school_data_summary_format_df["% Passing Math"].map("{:.2f}%".format)
school_data_summary_format_df["% Passing Reading"] = school_data_summary_format_df["% Passing Reading"].map("{:.2f}%".format)
school_data_summary_format_df["% Overall Passing"] = school_data_summary_format_df["% Overall Passing"].map("{:.2f}%".format)

school_data_summary_format_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

In [35]:
# Sort grouped school_data_summary_df (unmapped df) by % Overall Passing
school_data_summary_sort1_df=school_data_summary_df.sort_values("% Overall Passing", ascending=False)

In [36]:
# Summary table formatting using map
school_data_summary_sort1_df["Total Students"] = school_data_summary_sort1_df["Total Students"].map("{:,}".format)
school_data_summary_sort1_df["Total Budget"] = school_data_summary_sort1_df["Total Budget"].map("${:,.0f}".format)
school_data_summary_sort1_df["Per Student Budget"] = school_data_summary_sort1_df["Per Student Budget"].map("${:.0f}".format)
school_data_summary_sort1_df["Average Math Score"] = school_data_summary_sort1_df["Average Math Score"].map("{:.2f}".format)
school_data_summary_sort1_df["Average Reading Score"] = school_data_summary_sort1_df["Average Reading Score"].map("{:.2f}".format)
school_data_summary_sort1_df["% Passing Math"] = school_data_summary_sort1_df["% Passing Math"].map("{:.2f}%".format)
school_data_summary_sort1_df["% Passing Reading"] = school_data_summary_sort1_df["% Passing Reading"].map("{:.2f}%".format)
school_data_summary_sort1_df["% Overall Passing"] = school_data_summary_sort1_df["% Overall Passing"].map("{:.2f}%".format)

school_data_summary_sort1_df.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [37]:
# Sort grouped school_data_summary_df (unmapped df) by % Overall Passing
school_data_summary_sort2_df=school_data_summary_df.sort_values("% Overall Passing", ascending=True)

In [38]:
# Summary table formatting using map
school_data_summary_sort2_df["Total Students"] = school_data_summary_sort2_df["Total Students"].map("{:,}".format)
school_data_summary_sort2_df["Total Budget"] = school_data_summary_sort2_df["Total Budget"].map("${:,.0f}".format)
school_data_summary_sort2_df["Per Student Budget"] = school_data_summary_sort2_df["Per Student Budget"].map("${:.0f}".format)
school_data_summary_sort2_df["Average Math Score"] = school_data_summary_sort2_df["Average Math Score"].map("{:.2f}".format)
school_data_summary_sort2_df["Average Reading Score"] = school_data_summary_sort2_df["Average Reading Score"].map("{:.2f}".format)
school_data_summary_sort2_df["% Passing Math"] = school_data_summary_sort2_df["% Passing Math"].map("{:.2f}%".format)
school_data_summary_sort2_df["% Passing Reading"] = school_data_summary_sort2_df["% Passing Reading"].map("{:.2f}%".format)
school_data_summary_sort2_df["% Overall Passing"] = school_data_summary_sort2_df["% Overall Passing"].map("{:.2f}%".format)

school_data_summary_sort2_df.head(5)

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [39]:
# Create df to use for the math scores
grade_data_all_df = school_data_complete_df.loc[:, ["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           "% Overall Passing"
                                                          ]]

In [40]:
# Modify/reduce the df
grade_data_df = grade_data_all_df[["School Name",
                                   "Student Name", 
                                   "Student Grade",  
                                   "Student Reading Score",
                                   "Student Math Score" ]]
grade_data_df

,School Name,Student Name,Student Grade,Student Reading Score,Student Math Score
0,Huang High School,Paul Bradley,9th,66,79
1,Huang High School,Victor Smith,12th,94,61
2,Huang High School,Kevin Rodriguez,12th,90,60
3,Huang High School,Dr. Richard Scott,12th,67,58
4,Huang High School,Bonnie Ray,9th,97,84
...,...,...,...,...,...
39165,Thomas High School,Donna Howard,12th,99,90
39166,Thomas High School,Dawn Bell,10th,95,70
39167,Thomas High School,Rebecca Tanner,9th,73,84
39168,Thomas High School,Desiree Kidd,10th,99,90
39169,Thomas High School,Carolyn Jackson,11th,95,75

In [41]:
# Conditional statements to get the grade data and group the series by school
# https://datatofish.com/if-condition-in-pandas-dataframe/
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.groupby.html
grade9 = grade_data_df.loc[grade_data_df["Student Grade"] == "9th"].groupby("School Name")["Student Math Score"].mean()
grade10 = grade_data_df.loc[grade_data_df["Student Grade"] == "10th"].groupby("School Name")["Student Math Score"].mean()
grade11 = grade_data_df.loc[grade_data_df["Student Grade"] == "11th"].groupby("School Name")["Student Math Score"].mean()
grade12 = grade_data_df.loc[grade_data_df["Student Grade"] == "12th"].groupby("School Name")["Student Math Score"].mean()

In [42]:
# Create new df from group
math_average_df = pd.DataFrame({"9th" : grade9,
                               "10th" : grade10,
                               "11th" : grade11,
                               "12th" : grade12 })
# math_average_df

In [43]:
# Math table formatting using map
math_average_df["9th"] = math_average_df["9th"].map("{:.2f}".format)
math_average_df["10th"] = math_average_df["10th"].map("{:.2f}".format)
math_average_df["11th"] = math_average_df["11th"].map("{:.2f}".format)
math_average_df["12th"] = math_average_df["12th"].map("{:.2f}".format)

math_average_df

                         9th   10th   11th   12th
School Name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [44]:
# Conditional statements to get the grade data and group the series by school
# https://datatofish.com/if-condition-in-pandas-dataframe/
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.groupby.html
grade9 = grade_data_df.loc[grade_data_df["Student Grade"] == "9th"].groupby("School Name")["Student Reading Score"].mean()
grade10 = grade_data_df.loc[grade_data_df["Student Grade"] == "10th"].groupby("School Name")["Student Reading Score"].mean()
grade11 = grade_data_df.loc[grade_data_df["Student Grade"] == "11th"].groupby("School Name")["Student Reading Score"].mean()
grade12 = grade_data_df.loc[grade_data_df["Student Grade"] == "12th"].groupby("School Name")["Student Reading Score"].mean()

In [45]:
# Create new df from group
read_average_df = pd.DataFrame({"9th" : grade9,
                               "10th" : grade10,
                               "11th" : grade11,
                               "12th" : grade12 })
# read_average_df

In [46]:
# Reading table formatting using map
read_average_df["9th"] = read_average_df["9th"].map("{:.2f}".format)
read_average_df["10th"] = read_average_df["10th"].map("{:.2f}".format)
read_average_df["11th"] = read_average_df["11th"].map("{:.2f}".format)
read_average_df["12th"] = read_average_df["12th"].map("{:.2f}".format)

read_average_df

                         9th   10th   11th   12th
School Name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

In [47]:
# Create df to use for the spending
scores_data_all_df = school_data_complete2_df[["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           "% Overall Passing" ]]
# scores_data_all_df

In [48]:
# Reduce the df
scores_data_df = scores_data_all_df[["Per Student Budget",
                                                           "Student ID",
                                                          "Student Reading Score",
                                                           "Student Math Score",
                                                          "% Passing Reading",
                                                          "% Passing Math",
                                                         "% Overall Passing" ]]
#scores_data_df

In [49]:
# Define bins and groups
bins = [0, 584.9999, 629.9999, 644.9999, 679.9999]
group_names = ["<585", "585-630", "630-645", "645-680"]

scores_data_df["Per Student Spending Ranges"] = pd.cut(scores_data_df["Per Student Budget"], bins, labels=group_names)
#scores_data_df

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [50]:
# Group by spending ranges
scores_data_grouped_df = scores_data_df.groupby("Per Student Spending Ranges")
#scores_data_grouped_df.max()

In [51]:
# Recalculate averages and percentages
mathaverage = scores_data_grouped_df["Student Math Score"].mean()
readaverage = scores_data_grouped_df["Student Reading Score"].mean()
mathpass = scores_data_grouped_df["% Passing Math"].mean()*100
readpass = scores_data_grouped_df["% Passing Reading"].mean() *100
mathreadpass = scores_data_grouped_df["% Overall Passing"].mean() *100

In [52]:
# Create df for scores data summary
scores_data_summary = pd.DataFrame({"Average Math Score" : mathaverage,
                                   "Average Reading Score": readaverage,
                                   "% Passing Math": mathpass,
                                   "% Passing Reading": readpass,
                                   "% Overall Passing" : mathreadpass })
# scores_data_summary

In [53]:
# Format the df
scores_data_summary_format = scores_data_summary[["Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing" ]]

In [54]:
# Reading table formatting using map
scores_data_summary_format["Average Math Score"] = scores_data_summary_format["Average Math Score"].map("{:.2f}".format)
scores_data_summary_format["Average Reading Score"] = scores_data_summary_format["Average Reading Score"].map("{:.2f}".format)
scores_data_summary_format["% Passing Math"] = scores_data_summary_format["% Passing Math"].map("{:.2f}%".format)
scores_data_summary_format["% Passing Reading"] = scores_data_summary_format["% Passing Reading"].map("{:.2f}%".format)
scores_data_summary_format["% Overall Passing"] = scores_data_summary_format["% Overall Passing"].map("{:.2f}%".format)

scores_data_summary_format

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Spending Ranges,,,,,
<585,83.36,83.96,93.70%,96.69%,90.64%
585-630,79.98,82.31,79.11%,88.51%,70.94%
630-645,77.82,81.30,70.62%,82.60%,58.84%
645-680,77.05,81.01,66.23%,81.11%,53.53%

## Scores by School Size

In [55]:
# Create df to use for the spending
scores2_data_all_df = school_data_complete2_df[["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           "% Overall Passing"  ]]
# scores_data_all_df

In [56]:
# Reduce the df
scores2_data_df = scores2_data_all_df[["School Size",
                                                           "Student ID",
                                                          "Student Reading Score",
                                                           "Student Math Score",
                                                          "% Passing Reading",
                                                          "% Passing Math",
                                                         "% Overall Passing" ]]
# scores2_data_df

In [57]:
# Define bins and groups
bins = [0, 999.9999, 1999.9999, 2999.9999]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

scores2_data_df["School Size "] = pd.cut(scores2_data_df["School Size"], bins, labels=group_names)
# scores2_data_df

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [58]:
# Group by spending ranges
scores2_data_grouped_df = scores2_data_df.groupby("School Size ")
# scores2_data_grouped_df.max()

In [59]:
# Recalculate averages and percentages
mathaverage = scores2_data_grouped_df["Student Math Score"].mean()
readaverage = scores2_data_grouped_df["Student Reading Score"].mean()
mathpass = scores2_data_grouped_df["% Passing Math"].mean()*100
readpass = scores2_data_grouped_df["% Passing Reading"].mean() *100
mathreadpass = scores2_data_grouped_df["% Overall Passing"].mean() *100

In [60]:
# Create df for scores data summary
scores2_data_summary = pd.DataFrame({"Average Math Score" : mathaverage,
                                   "Average Reading Score": readaverage,
                                   "% Passing Math": mathpass,
                                   "% Passing Reading": readpass,
                                   "% Overall Passing" : mathreadpass })
# scores2_data_summary

In [61]:
# Format df
scores2_data_summary_format = scores2_data_summary[["Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing" ]]

In [62]:
# Reading table formatting using map
scores2_data_summary_format["Average Math Score"] = scores2_data_summary_format["Average Math Score"].map("{:.2f}".format)
scores2_data_summary_format["Average Reading Score"] = scores2_data_summary_format["Average Reading Score"].map("{:.2f}".format)
scores2_data_summary_format["% Passing Math"] = scores2_data_summary_format["% Passing Math"].map("{:.2f}%".format)
scores2_data_summary_format["% Passing Reading"] = scores2_data_summary_format["% Passing Reading"].map("{:.2f}%".format)
scores2_data_summary_format["% Overall Passing"] = scores2_data_summary_format["% Overall Passing"].map("{:.2f}%".format)
# scores2_data_summary_format

## Scores by School Type

In [63]:
# Create df to use for the spending
scores3_data_all_df = school_data_complete2_df[["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           "% Overall Passing"  ]]
# scores_data_all_df

In [64]:
# Reduce the df
scores3_data_df = scores3_data_all_df[["School Type",
                                                           "Student ID",
                                                          "Student Reading Score",
                                                           "Student Math Score",
                                                          "% Passing Reading",
                                                          "% Passing Math",
                                                         "% Overall Passing" ]]
scores3_data_df

,School Type,Student ID,Student Reading Score,Student Math Score,% Passing Reading,% Passing Math,% Overall Passing
0,District,0,66,79,False,True,False
1,District,1,94,61,True,False,False
2,District,2,90,60,True,False,False
3,District,3,67,58,False,False,False
4,District,4,97,84,True,True,True
...,...,...,...,...,...,...,...
39165,Charter,39165,99,90,True,True,True
39166,Charter,39166,95,70,True,True,True
39167,Charter,39167,73,84,True,True,True
39168,Charter,39168,99,90,True,True,True
39169,Charter,39169,95,75,True,True,True

In [65]:
# Group by spending ranges
scores3_data_grouped_df = scores3_data_df.groupby("School Type")
#scores3_data_grouped_df.max()

In [66]:
# Recalculate averages and percentages

mathaverage = scores3_data_grouped_df["Student Math Score"].mean()
readaverage = scores3_data_grouped_df["Student Reading Score"].mean()
mathpass = scores3_data_grouped_df["% Passing Math"].mean()*100
readpass = scores3_data_grouped_df["% Passing Reading"].mean() *100
mathreadpass = scores3_data_grouped_df["% Overall Passing"].mean() *100

In [67]:
# Create df for scores data summary
scores3_data_summary = pd.DataFrame({"Average Math Score" : mathaverage,
                                   "Average Reading Score": readaverage,
                                   "% Passing Math": mathpass,
                                   "% Passing Reading": readpass,
                                   "% Overall Passing" : mathreadpass })
# scores3_data_summary

In [68]:
# Format df
scores3_data_summary_format = scores3_data_summary[["Average Math Score",
                                   "Average Reading Score",
                                   "% Passing Math",
                                   "% Passing Reading",
                                   "% Overall Passing" ]]

In [69]:
# Reading table formatting using map
scores3_data_summary_format["Average Math Score"] = scores3_data_summary_format["Average Math Score"].map("{:.2f}".format)
scores3_data_summary_format["Average Reading Score"] = scores3_data_summary_format["Average Reading Score"].map("{:.2f}".format)
scores3_data_summary_format["% Passing Math"] = scores3_data_summary_format["% Passing Math"].map("{:.2f}%".format)
scores3_data_summary_format["% Passing Reading"] = scores3_data_summary_format["% Passing Reading"].map("{:.2f}%".format)
scores3_data_summary_format["% Overall Passing"] = scores3_data_summary_format["% Overall Passing"].map("{:.2f}%".format)

scores3_data_summary_format

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.41,83.90,93.70%,96.65%,90.56%
District,76.99,80.96,66.52%,80.91%,53.70%