In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
# school_data.head()

In [4]:
student_data_df = pd.read_csv(student_data_to_load)
# student_data.head()

In [5]:
# Combine the data into a single dataset (provided in starter file).  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
# Rename columns of combined df

school_data_complete_df = school_data_complete_df.rename(columns={"Student ID" : "Student ID",
                                                          "student_name" : "Student Name",
                                                          "gender" : "Student Gender",
                                                          "grade" : "Student Grade",
                                                          "school_name" : "School Name",
                                                          "reading_score" : "Student Reading Score",
                                                          "math_score" : "Student Math Score",
                                                          "School ID" : "School ID",
                                                          "type" : "School Type",
                                                          "size" : "School Size",
                                                          "budget" : "School Budget"})
school_data_complete_df

,Student ID,Student Name,Student Gender,Student Grade,School Name,Student Reading Score,Student Math Score,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
# Rearrange columns

school_data_complete_df = school_data_complete_df[["Student ID", 
                                                   "Student Name", 
                                                   "Student Gender", 
                                                   "Student Grade", 
                                                   "Student Reading Score", 
                                                   "Student Math Score", 
                                                   "School Name", 
                                                   "School ID", 
                                                   "School Type", 
                                                   "School Size", 
                                                   "School Budget"]]
school_data_complete_df

,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,School Name,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,99,90,Thomas High School,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,95,70,Thomas High School,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,73,84,Thomas High School,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,99,90,Thomas High School,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,95,75,Thomas High School,14,Charter,1635,1043130

## District Summary

In [8]:
# Calculate the total number of schools
schoolcount = school_data_complete_df["School Name"].nunique()
# schoolcount

In [9]:
# Calculate the total number of students
studentcount = school_data_complete_df["Student ID"].count()
# studentcount

In [10]:
# Calculate the total budget (make sure to get unique because the budget repeats itself per student in same school)

totalbudget = school_data_complete_df["School Budget"].unique()
# totalbudget.sum()

In [11]:
# Calculate the average math score

mathaverage = school_data_complete_df["Student Math Score"].mean()
# mathaverage

In [12]:
# Calculate the average reading score

readaverage = school_data_complete_df["Student Reading Score"].mean()
# readaverage

In [13]:
# Calculate percent of students with a math score of 70 or greater 
# https://stackoverflow.com/questions/52097943/count-and-calculate-percentage-of-each-column-by-threshold-in-python
mathpass = school_data_complete_df["Student Math Score"].ge(70).mean()*100
mathpass

74.9808526933878

In [14]:
# Calculate percent of students with a reading score of 70 or greater
readpass = school_data_complete_df["Student Reading Score"].ge(70).mean()*100
# readpass

In [15]:
# Calculate percent of students who passed both reading and math
mathreadpass_df = school_data_complete_df[(school_data_complete_df['Student Math Score'] >= 70) & (school_data_complete_df['Student Reading Score'] >= 70)]

mathreadpass = (mathreadpass_df["Student ID"].count()/studentcount) * 100
# mathreadpass

In [16]:
# Create summary of district data
district_summary_df = pd.DataFrame({"Total Schools" : [schoolcount],
                                   "Total Students" : studentcount,
                                   "Total Budget" : totalbudget.sum(),
                                   "Average Math Score" : mathaverage,
                                  "Average Reading Score" : readaverage,
                                   "% Passing Math" : mathpass,
                                   "% Passing Reading" : readpass,
                                    "% Overall Passing" : mathreadpass})
# district_summary_df

In [17]:
# Summary table formatting using map
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}%".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## School Summary

In [18]:
# Add Per Student Budget to the complete data table
perstudentbudget = school_data_complete_df["School Budget"] / school_data_complete_df["School Size"]
school_data_complete_df["Per Student Budget"] = perstudentbudget

#school_data_complete_df

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [43]:
# Add Students passing math and reading. I could not get this to work as with the district data...something to do with grouping?
school_data_complete_df["Student Passing Math"] = school_data_complete_df["Student Math Score"] >= 70
school_data_complete_df["Student Passing Reading"] = school_data_complete_df["Student Reading Score"] >= 70
school_data_complete_df["Student Passing Overall"] = school_data_complete_df["Student Passing Math"] & school_data_complete_df["Student Passing Reading"]

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
# Modify dataframe to use just the columns wanted
school_data_complete2_df = school_data_complete_df.loc[:, ["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "Student Passing Reading",
                                                           "Student Passing Math",
                                                           "Student Passing Overall"]]
school_data_complete2_df

,School ID,School Name,School Type,School Size,School Budget,Per Student Budget,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,Student Passing Reading,Student Passing Math,Student Passing Overall
0,0,Huang High School,District,2917,1910635,655.0,0,Paul Bradley,M,9th,66,79,False,True,False
1,0,Huang High School,District,2917,1910635,655.0,1,Victor Smith,M,12th,94,61,True,False,False
2,0,Huang High School,District,2917,1910635,655.0,2,Kevin Rodriguez,M,12th,90,60,True,False,False
3,0,Huang High School,District,2917,1910635,655.0,3,Dr. Richard Scott,M,12th,67,58,False,False,False
4,0,Huang High School,District,2917,1910635,655.0,4,Bonnie Ray,F,9th,97,84,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,638.0,39165,Donna Howard,F,12th,99,90,True,True,True
39166,14,Thomas High School,Charter,1635,1043130,638.0,39166,Dawn Bell,F,10th,95,70,True,True,True
39167,14,Thomas High School,Charter,1635,1043130,638.0,39167,Rebecca Tanner,F,9th,73,84,True,True,True
39168,14,Thomas High School,Charter,1635,1043130,638.0,39168,Desiree Kidd,F,10th,99,90,True,True,True
39169,14,Thomas High School,Charter,1635,1043130,638.0,39169,Carolyn Jackson,F,11th,95,75,True,True,True

In [45]:
# Group the data by School Name
grouped_school_data_df = school_data_complete2_df.groupby(["School Name"])

grouped_school_data_df.count()

,School ID,School Type,School Size,School Budget,Per Student Budget,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,Student Passing Reading,Student Passing Math,Student Passing Overall
School Name,,,,,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [63]:
# Find the school types per school
schooltype_s = grouped_school_data_df["School Type"].unique()
#schooltype_s

In [64]:
# Find the total number of students per school
studentcount_s = grouped_school_data_df["Student ID"].count()
#studentcount_s

In [65]:
# Calculate the total budget per school (make sure to get unique because the budget repeats itself per student in same school)
totalbudget_s = grouped_school_data_df["School Budget"].unique()
#totalbudget_s

In [66]:
perstudentbudget_s = grouped_school_data_df["Per Student Budget"].unique()
#perstudentbudget_s

In [67]:
# Calculate the average math score per school
mathaverage_s = grouped_school_data_df["Student Math Score"].mean()
#mathaverage_s

In [68]:
# Calculate the average reading score per school
readaverage_s = grouped_school_data_df["Student Reading Score"].mean()
#readaverage_s

In [62]:
# Calculate percent of students with a math score of 70 or greater 
mathpass1 = grouped_school_data_df["Student Passing Math"] / grouped_school_data_df["Student ID"]

mathpass1

TypeError: unsupported operand type(s) for /: 'SeriesGroupBy' and 'SeriesGroupBy'

In [ ]:
# Calculate percent of students with a reading score of 70 or greater
#readpass_s = grouped_school_data_df["Student Reading Score"].ge(70).mean()*100
#readpass_S

In [ ]:
# Calculate percent of students who passed both reading and math
#mathreadpass_df = grouped_school_data_df[(grouped_school_data_df['Student Math Score'] >= 70) & (grouped_school_data_df['Student Reading Score'] >= 70)]

#mathreadpass_s = (mathreadpass_df["Student ID"].count()/studentcount) * 100
#mathreadpass_s

In [ ]:
# Create summary of school data
school_data_summary_df = pd.DataFrame({"School Type" : schooltype_s,
                                       "Total Students" : studentcount_s,
                                       "Total Budget" : totalbudget_s,
                                       "Average Math Score" : mathaverage_s,
                                       "Average Reading Score" : readaverage_s,
                                   "% Passing Math" : mathpass_s,
                                   #"% Passing Reading" : readpass1
                                    #"% Overall Passing" : mathreadpass1
                                           })
school_data_summary_df

In [ ]:
# Summary table formatting using map
#school_data_summary_df["School Type"] = school_data_summary_df["School Type"].map("{:,}".format)
school_data_summary_df["Total Students"] = school_data_summary_df["Total Students"].map("${:,}".format)
school_data_summary_df["Total Budget"] = school_data_summary_df["Total Budget"].map("${:,}".format)
school_data_summary_df["Per Student Budget"] = school_data_summary_df["Per Student Budget"].map("${:,}".format)
school_data_summary_df["Average Math Score"] = school_data_summary_df["Average Math Score"].map("{:.2f}%".format)
school_data_summary_df["Average Reading Score"] = school_data_summary_df["Average Reading Score"].map("{:.2f}%".format)
#school_data_summary_df["% Passing Math"] = school_data_summary_df["% Passing Math"].map("{:.2f}%".format)
#school_data_summary_df["% Passing Reading"] = school_data_summary_df["% Passing Reading"].map("{:.2f}%".format)
#school_data_summary_df["% Overall Passing"] = school_data_summary_df["% Overall Passing"].map("{:.2f}%".format)


school_data_summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type