In [1]:
# Dependencies and Setup
import pandas as pd
# import numpy as np

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
# school_data.head()

In [4]:
student_data_df = pd.read_csv(student_data_to_load)
# student_data.head()

In [5]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
# Rename columns of combined df

school_data_complete_df = school_data_complete_df.rename(columns={"Student ID" : "Student ID",
                                                          "student_name" : "Student Name",
                                                          "gender" : "Student Gender",
                                                          "grade" : "Student Grade",
                                                          "school_name" : "School Name",
                                                          "reading_score" : "Student Reading Score",
                                                          "math_score" : "Student Math Score",
                                                          "School ID" : "School ID",
                                                          "type" : "School Type",
                                                          "size" : "School Size",
                                                          "budget" : "School Budget"})
school_data_complete_df

,Student ID,Student Name,Student Gender,Student Grade,School Name,Student Reading Score,Student Math Score,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
# Rearrange columns

school_data_complete_df = school_data_complete_df[["Student ID", 
                                                   "Student Name", 
                                                   "Student Gender", 
                                                   "Student Grade", 
                                                   "Student Reading Score", 
                                                   "Student Math Score", 
                                                   "School Name", 
                                                   "School ID", 
                                                   "School Type", 
                                                   "School Size", 
                                                   "School Budget"]]
school_data_complete_df

,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,School Name,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,99,90,Thomas High School,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,95,70,Thomas High School,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,73,84,Thomas High School,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,99,90,Thomas High School,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,95,75,Thomas High School,14,Charter,1635,1043130

In [8]:
# Calculate the total number of schools
schoolcount = school_data_complete_df["School Name"].nunique()
schoolcount

15

In [9]:
# Calculate the total number of students
studentcount = school_data_complete_df["Student ID"].count()
studentcount

39170

In [10]:
# Calculate the total budget (make sure to get unique because the budget repeats itself per student in same school)

totalbudget = school_data_complete_df["School Budget"].unique()
totalbudget.sum()

24649428

In [11]:
# Calculate the average math score

mathaverage = school_data_complete_df["Student Math Score"].mean()
mathaverage

78.98537145774827

In [12]:
# Calculate the average reading score

readaverage = school_data_complete_df["Student Reading Score"].mean()
readaverage

81.87784018381414

In [14]:
# Calculate percent of students with a math score of 70 or greater 
# https://stackoverflow.com/questions/52097943/count-and-calculate-percentage-of-each-column-by-threshold-in-python
mathpass = school_data_complete_df["Student Math Score"].ge(70).mean()*100
mathpass

74.9808526933878

In [15]:
# Calculate percent of students with a reading score of 70 or greater
readpass = school_data_complete_df["Student Reading Score"].ge(70).mean()*100
readpass

85.80546336482001

In [16]:
# Calculate percent of students who passed both reading and math
mathreadpass_df = school_data_complete_df[(school_data_complete_df['Student Math Score'] >= 70) & (school_data_complete_df['Student Reading Score'] >= 70)]
# mathreadpass

mathreadpass = (mathreadpass_df["Student Name"].count()/studentcount) * 100
mathreadpass

65.17232575950983

In [53]:
# Create summary of district data
district_summary_df = pd.DataFrame({"Total Schools" : [schoolcount],
                                   "Total Students" : studentcount,
                                   "Total Budget" : totalbudget.sum(),
                                   "Average Math Score" : mathaverage,
                                  "Average Reading Score" : readaverage,
                                   "% Passing Math" : mathpass,
                                   "% Passing Reading" : readpass,
                                    "% Overall Passing" : mathreadpass})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [54]:
# Summary table formatting using map
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}%".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type