In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
# school_data.head()

In [4]:
student_data_df = pd.read_csv(student_data_to_load)
# student_data.head()

In [5]:
# Combine the data into a single dataset (provided in starter file).  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
# Rename columns of combined df

school_data_complete_df = school_data_complete_df.rename(columns={"Student ID" : "Student ID",
                                                          "student_name" : "Student Name",
                                                          "gender" : "Student Gender",
                                                          "grade" : "Student Grade",
                                                          "school_name" : "School Name",
                                                          "reading_score" : "Student Reading Score",
                                                          "math_score" : "Student Math Score",
                                                          "School ID" : "School ID",
                                                          "type" : "School Type",
                                                          "size" : "School Size",
                                                          "budget" : "School Budget"})
school_data_complete_df

,Student ID,Student Name,Student Gender,Student Grade,School Name,Student Reading Score,Student Math Score,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [7]:
# Rearrange columns

school_data_complete_df = school_data_complete_df[["Student ID", 
                                                   "Student Name", 
                                                   "Student Gender", 
                                                   "Student Grade", 
                                                   "Student Reading Score", 
                                                   "Student Math Score", 
                                                   "School Name", 
                                                   "School ID", 
                                                   "School Type", 
                                                   "School Size", 
                                                   "School Budget"]]
school_data_complete_df

,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,School Name,School ID,School Type,School Size,School Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,99,90,Thomas High School,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,95,70,Thomas High School,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,73,84,Thomas High School,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,99,90,Thomas High School,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,95,75,Thomas High School,14,Charter,1635,1043130

## District Summary

In [8]:
# Calculate the total number of schools
schoolcount = school_data_complete_df["School Name"].nunique()
# schoolcount

In [9]:
# Calculate the total number of students
studentcount = school_data_complete_df["Student ID"].count()
# studentcount

In [10]:
# Calculate the total budget (make sure to get unique because the budget repeats itself per student in same school)

totalbudget = school_data_complete_df["School Budget"].unique()
# totalbudget.sum()

In [11]:
# Calculate the average math score

mathaverage = school_data_complete_df["Student Math Score"].mean()
# mathaverage

In [12]:
# Calculate the average reading score

readaverage = school_data_complete_df["Student Reading Score"].mean()
# readaverage

In [14]:
# Calculate percent of students with a math score of 70 or greater 
# https://stackoverflow.com/questions/52097943/count-and-calculate-percentage-of-each-column-by-threshold-in-python
mathpass = school_data_complete_df["Student Math Score"].ge(70).mean()*100
#mathpass

In [15]:
# Calculate percent of students with a reading score of 70 or greater
readpass = school_data_complete_df["Student Reading Score"].ge(70).mean()*100
# readpass

In [16]:
# Calculate percent of students who passed both reading and math
mathreadpass_df = school_data_complete_df[(school_data_complete_df['Student Math Score'] >= 70) & (school_data_complete_df['Student Reading Score'] >= 70)]

mathreadpass = (mathreadpass_df["Student ID"].count()/studentcount) * 100
# mathreadpass

In [17]:
# Create summary of district data
district_summary_df = pd.DataFrame({"Total Schools" : [schoolcount],
                                   "Total Students" : studentcount,
                                   "Total Budget" : totalbudget.sum(),
                                   "Average Math Score" : mathaverage,
                                  "Average Reading Score" : readaverage,
                                   "% Passing Math" : mathpass,
                                   "% Passing Reading" : readpass,
                                    "% Overall Passing" : mathreadpass})
# district_summary_df

In [18]:
# Summary table formatting using map
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}%".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}%".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99%,81.88%,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## School Summary

In [19]:
# Add Per Student Budget to the complete data table
perstudentbudget = school_data_complete_df["School Budget"] / school_data_complete_df["School Size"]
school_data_complete_df["Per Student Budget"] = perstudentbudget

school_data_complete_df

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,School Name,School ID,School Type,School Size,School Budget,Per Student Budget
0,0,Paul Bradley,M,9th,66,79,Huang High School,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,94,61,Huang High School,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,90,60,Huang High School,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,67,58,Huang High School,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,97,84,Huang High School,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,99,90,Thomas High School,14,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,95,70,Thomas High School,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,73,84,Thomas High School,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,99,90,Thomas High School,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,95,75,Thomas High School,14,Charter,1635,1043130,638.0

In [22]:
# Add Students passing math and reading. I could not get this to work as with the district data...something to do with grouping?
school_data_complete_df["% Passing Math"] = school_data_complete_df["Student Math Score"] >= 70
school_data_complete_df["% Passing Reading"] = school_data_complete_df["Student Reading Score"] >= 70
#school_data_complete_df["% Passing Overall"] = school_data_complete_df["% Passing Math"] & school_data_complete_df["% Passing Overall"]

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\khagl\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [24]:
# Modify dataframe to use just the columns wanted
school_data_complete2_df = school_data_complete_df.loc[:, ["School ID", 
                                                           "School Name",
                                                           "School Type",
                                                           "School Size",
                                                           "School Budget",
                                                           "Per Student Budget",
                                                           "Student ID",
                                                           "Student Name", 
                                                           "Student Gender", 
                                                           "Student Grade", 
                                                           "Student Reading Score",
                                                           "Student Math Score",
                                                           "% Passing Reading",
                                                           "% Passing Math",
                                                           #"% Passing Overall"
                                                          ]]
school_data_complete2_df

,School ID,School Name,School Type,School Size,School Budget,Per Student Budget,Student ID,Student Name,Student Gender,Student Grade,Student Reading Score,Student Math Score,% Passing Reading,% Passing Math
0,0,Huang High School,District,2917,1910635,655.0,0,Paul Bradley,M,9th,66,79,False,True
1,0,Huang High School,District,2917,1910635,655.0,1,Victor Smith,M,12th,94,61,True,False
2,0,Huang High School,District,2917,1910635,655.0,2,Kevin Rodriguez,M,12th,90,60,True,False
3,0,Huang High School,District,2917,1910635,655.0,3,Dr. Richard Scott,M,12th,67,58,False,False
4,0,Huang High School,District,2917,1910635,655.0,4,Bonnie Ray,F,9th,97,84,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,638.0,39165,Donna Howard,F,12th,99,90,True,True
39166,14,Thomas High School,Charter,1635,1043130,638.0,39166,Dawn Bell,F,10th,95,70,True,True
39167,14,Thomas High School,Charter,1635,1043130,638.0,39167,Rebecca Tanner,F,9th,73,84,True,True
39168,14,Thomas High School,Charter,1635,1043130,638.0,39168,Desiree Kidd,F,10th,99,90,True,True
39169,14,Thomas High School,Charter,1635,1043130,638.0,39169,Carolyn Jackson,F,11th,95,75,True,True

In [25]:
# Group the data by School Name
grouped_school_data_df = school_data_complete2_df.groupby(["School Name"])

grouped_school_data_df.mean()

,School ID,School Size,School Budget,Per Student Budget,Student ID,Student Reading Score,Student Math Score,% Passing Reading,% Passing Math
School Name,,,,,,,,,
Bailey High School,7.0,4976.0,3124928.0,628.0,20358.5,81.033963,77.048432,0.819333,0.666801
Cabrera High School,6.0,1858.0,1081356.0,582.0,16941.5,83.975780,83.061895,0.970398,0.941335
Figueroa High School,1.0,2949.0,1884411.0,639.0,4391.0,81.158020,76.711767,0.807392,0.659885
Ford High School,13.0,2739.0,1763916.0,644.0,36165.0,80.746258,77.102592,0.792990,0.683096
Griffin High School,4.0,1468.0,917500.0,625.0,12995.5,83.816757,83.351499,0.971390,0.933924
Hernandez High School,3.0,4635.0,3022020.0,652.0,9944.0,80.934412,77.289752,0.808630,0.667530
Holden High School,8.0,427.0,248087.0,581.0,23060.0,83.814988,83.803279,0.962529,0.925059
Huang High School,0.0,2917.0,1910635.0,655.0,1458.0,81.182722,76.629414,0.813164,0.656839
Johnson High School,12.0,4761.0,3094650.0,650.0,32415.0,80.966394,77.072464,0.812224,0.660576
Pena High School,9.0,962.0,585858.0,609.0,23754.5,84.044699,83.839917,0.959459,0.945946
Rodriguez High School,11.0,3999.0,2547363.0,637.0,28035.0,80.744686,76.842711,0.802201,0.663666
Shelton High School,2.0,1761.0,1056600.0,600.0,6746.0,83.725724,83.359455,0.958546,0.938671
Thomas High School,14.0,1635.0,1043130.0,638.0,38352.0,83.848930,83.418349,0.973089,0.932722
Wilson High School,5.0,2283.0,1319574.0,578.0,14871.0,83.989488,83.274201,0.965396,0.938677
Wright High School,10.0,1800.0,1049400.0,583.0,25135.5,83.955000,83.682222,0.966111,0.933333

In [26]:
# Find the school types per school
schooltype_s = grouped_school_data_df["School Type"].unique()
#schooltype_s

In [27]:
# Find the total number of students per school
studentcount_s = grouped_school_data_df["Student ID"].count()
# studentcount_s

In [28]:
# Calculate the total budget per school (make sure to get unique because the budget repeats itself per student in same school)
totalbudget_s = grouped_school_data_df["School Budget"].unique()
#totalbudget_s

In [29]:
perstudentbudget_s = grouped_school_data_df["Per Student Budget"].unique()
#perstudentbudget_s

In [30]:
# Calculate the average math score per school
mathaverage_s = grouped_school_data_df["Student Math Score"].mean()
#mathaverage_s

In [32]:
# Calculate the average reading score per school
readaverage_s = grouped_school_data_df["Student Reading Score"].mean()
#readaverage_s

In [31]:
mathpass_s = grouped_school_data_df["% Passing Math"].mean()

In [33]:
readpass_s = grouped_school_data_df["% Passing Reading"].mean()

In [35]:
#mathreadpass_s = grouped_school_data_df["% Passing Overall"].mean()

In [37]:
# Create summary of school data
school_data_summary_df = pd.DataFrame({"School Type" : schooltype_s,
                                       "Total Students" : studentcount_s,
                                       "Total Budget" : totalbudget_s,
                                       "Per Student Budget" : perstudentbudget_s,
                                       "Average Math Score" : mathaverage_s,
                                       "Average Reading Score" : readaverage_s,
                                       "% Passing Math" : mathpass_s, 
                                       "% Passing Reading" : readpass_s,
                                      # "% Passing Overall" : mathreadpass_s
                                           })
school_data_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading
School Name,,,,,,,,
Bailey High School,[District],4976,[3124928],[628.0],77.048432,81.033963,0.666801,0.819333
Cabrera High School,[Charter],1858,[1081356],[582.0],83.061895,83.975780,0.941335,0.970398
Figueroa High School,[District],2949,[1884411],[639.0],76.711767,81.158020,0.659885,0.807392
Ford High School,[District],2739,[1763916],[644.0],77.102592,80.746258,0.683096,0.792990
Griffin High School,[Charter],1468,[917500],[625.0],83.351499,83.816757,0.933924,0.971390
Hernandez High School,[District],4635,[3022020],[652.0],77.289752,80.934412,0.667530,0.808630
Holden High School,[Charter],427,[248087],[581.0],83.803279,83.814988,0.925059,0.962529
Huang High School,[District],2917,[1910635],[655.0],76.629414,81.182722,0.656839,0.813164
Johnson High School,[District],4761,[3094650],[650.0],77.072464,80.966394,0.660576,0.812224
Pena High School,[Charter],962,[585858],[609.0],83.839917,84.044699,0.945946,0.959459
Rodriguez High School,[District],3999,[2547363],[637.0],76.842711,80.744686,0.663666,0.802201
Shelton High School,[Charter],1761,[1056600],[600.0],83.359455,83.725724,0.938671,0.958546
Thomas High School,[Charter],1635,[1043130],[638.0],83.418349,83.848930,0.932722,0.973089
Wilson High School,[Charter],2283,[1319574],[578.0],83.274201,83.989488,0.938677,0.965396
Wright High School,[Charter],1800,[1049400],[583.0],83.682222,83.955000,0.933333,0.966111

In [ ]:
# Summary table formatting using map
#school_data_summary_df["School Type"] = school_data_summary_df["School Type"].map("{:,}".format)
school_data_summary_df["Total Students"] = school_data_summary_df["Total Students"].map("{:,}".format)
school_data_summary_df["Total Budget"] = school_data_summary_df["Total Budget"].map("${:,}".format)
#school_data_summary_df["Per Student Budget"] = school_data_summary_df["Per Student Budget"].map("${:,}")
#school_data_summary_df["Average Math Score"] = school_data_summary_df["Average Math Score"].map("{:.2f}%".format)
#school_data_summary_df["Average Reading Score"] = school_data_summary_df["Average Reading Score"].map("{:.2f}%".format)
#school_data_summary_df["% Passing Math"] = school_data_summary_df["% Passing Math"].map("{:.2f}%".format)
#school_data_summary_df["% Passing Reading"] = school_data_summary_df["% Passing Reading"].map("{:.2f}%".format)
#school_data_summary_df["% Overall Passing"] = school_data_summary_df["% Overall Passing"].map("{:.2f}%".format)


school_data_summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type